

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<html dir="ltr" lang="en-US" xmlns="http://www.w3.org/1999/xhtml">

	
<!-- Mirrored from www.nicolaegabriel.info/live/admin-pure/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Feb 2016 22:21:15 GMT -->
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>HTML - Admin Pure</title>
		
		<link rel='stylesheet' href="{{ asset('publicAdmin/_layout/scripts/jquery.fullcalendar/fullcalendar.css')}}" type='text/css' media='screen' />
		<link rel='stylesheet' href="{{ asset('publicAdmin/_layout/scripts/jquery.fullcalendar/fullcalendar.print.css')}}" type='text/css' media='print' />
		
		<!-- Styles -->
		<link rel='stylesheet' href="{{ asset('publicAdmin/_layout/style.css')}}" type='text/css' media='all' />
		
		<!--[if IE]>
		
			<link rel='stylesheet' href="{{ asset('publicAdmin/_layout/IE.css')}}" type='text/css' media='all'')}}" />		
			
		<![endif]-->
		
		<!-- Fonts -->
		<link href="{{ asset('http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold|PT+Sans+Narrow:regular,bold|Droid+Serif:i&amp;v1')}}" rel='stylesheet' type='text/css' />
		
		<script type='text/javascript' src='../../../ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min97e1.js?ver=1.7'></script>
		<script type="" src="../../../ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
		
		<!-- Calendar -->
		<script type='text/javascript' src='publicAdmin/_layout/scripts/jquery.fullcalendar/fullcalendar.min.js'></script>
		
		<!-- Scripts -->
		<script type='text/javascript' src='publicAdmin/_layout/custom.js'></script>
		
	</head>  
  
	<body>
	 
		<div id="layout">
			<div id="header-wrapper">
				<div id="header">
					<div id="user-wrapper" class="fixed">
						<div class="color-scheme">
							<a href="#" class="button">Dropdown suggestion</a>
						</div>
						<div class="user">
							<span>Welcome <a href="#">Ghada !</a></span>
							<span class="logout"><a href="http://localhost/moocApp/web/app_dev.php/logout">Logout</a></span>
						</div>
					</div>
					
					<div id="launcher-wrapper" class="fixed">
						<div class="logo">
							<a href="{{ asset('index-2.html')}}"><img src="{{ asset('publicAdmin/_content/back-logo.png')}}" alt="" /></a>
						</div>
						
						<div class="launcher">
							
						</div>
					</div>
				</div>
			</div>
			
			<div class="page fixed">
				<div id="sidebar">
					<ul id="navigation">
						<li class="first active">
							<div><a href="{{ asset('index-2.html')}}">Dashboard</a><span class="icon-nav dashboard"></span></div>
							<div class="back"></div>
						</li>
						<li>
							<div><a href="{{ path('valider_organisme')}}">Valider organisme</a><span class="icon-nav tables"></span></div>
							<div class="back"></div>
						</li>
						
						
						<li class="last">
							<div><a href="{{ path('afficher_compte_admin')}}">Liste des comptes</a><span class="icon-nav users"></span></div>
							<div class="back"></div>
						</li>
					</ul>
				</div>
				
				
				<div id="content">
					<div class="fixed index-large-icon">
						<a href="#" class="large-icon one"><span></span></a>
						<a href="#" class="large-icon two"><span></span></a>
						<a href="#" class="large-icon three"><span></span></a>
						<a href="#" class="large-icon four"><span></span></a>
						<a href="{{ path('afficher_compte_admin') }}" class="large-icon five"><span></span></a>
						<a href="#" class="large-icon six"><span></span></a>
						<a href="#" class="large-icon seven last"><span></span></a>
						<a href="#" class="large-icon ten"><span></span></a>
						<a href="#" class="large-icon eleven"><span></span></a>
						<a href="#" class="large-icon twelve"><span></span></a>
						<a href="#" class="large-icon thirteen"><span></span></a>
						<a href="#" class="large-icon fourteen"><span></span></a>
						<a href="#" class="large-icon fifteen"><span></span></a>
						<a href="#" class="large-icon sixteen last"><span></span></a>
					</div>
					
					<div class="notice-one">Hi there! I’m just a warning.
						<span></span>
					</div>
					
					
					
				
					<div class="hr"></div>  
					
					<div class="fixed">
						<div class="col-310">
							<div class="panel">
                                                            
                                                             {% block affichage %}

                                                             {% endblock %}	
							</div>
						</div>
						
						<div class="col-310 last">
					        </div>	
					</div>
					
					<h1 class="m-top-30">Gallery</h1>
					<ul class="gallery fixed">
						<li>
							<div><a href="{{ asset('publicAdmin/_content/gallery-img1.png')}}" rel="gallery')}}"></a></div>
							<img src="{{ asset('publicAdmin/_content/gallery-img1.png')}}" alt="" />
						</li>
						
						<li>
							<div><a href="{{ asset('publicAdmin/_content/gallery-img1-original.png')}}" rel="gallery"></a></div>
							<img src="{{ asset('publicAdmin/_content/gallery-img2.png')}}" alt="" />
						</li>
						
						<li>
							<div><a href="{{ asset('publicAdmin/_content/gallery-img3-original.png')}}" rel="gallery"></a></div>
							<img src="{{ asset('publicAdmin/_content/gallery-img3.png')}}" alt="" />
						</li>
						
						<li>
							<div><a href="{{ asset('publicAdmin/_content/gallery-img4-original.png')}}" rel="gallery"></a></div>
							<img src="{{ asset('publicAdmin/_content/gallery-img4.png')}}" alt="" />
						</li>
						
						<li>
							<div><a href="{{ asset('publicAdmin/_content/gallery-img5-original.png')}}" rel="gallery"></a></div>
							<img src="{{ asset('publicAdmin/_content/gallery-img5.png')}}" alt="" />
						</li>
						
						<li>
							<div><a href="{{ asset('publicAdmin/_content/gallery-img6-original.png')}}" rel="gallery"></a></div>
							<img src="{{ asset('publicAdmin/_content/gallery-img6.png')}}" alt="" />
						</li>
						
						<li>
							<div><a href="{{ asset('publicAdmin/_content/gallery-img7-original.png')}}" rel="gallery"></a></div>
							<img src="{{ asset('publicAdmin/_content/gallery-img7.png')}}" alt="" />
						</li>
						
						<li>
							<div><a href="{{ asset('publicAdmin/_content/gallery-img8-original.png')}}" rel="gallery"></a></div>
							<img src="{{ asset('publicAdmin/_content/gallery-img8.png')}}" alt="" />
						</li>
						
						<li>
							<div><a href="{{ asset('publicAdmin/_content/gallery-img9-original.png')}}" rel="gallery"></a></div>
							<img src="{{ asset('publicAdmin/_content/gallery-img9.png')}}" alt="" />
						</li>
						
						<li>
							<div><a href="{{ asset('publicAdmin/_content/gallery-img10-original.png')}}" rel="gallery"></a></div>
							<img src="{{ asset('publicAdmin/_content/gallery-img10.png')}}" alt="" />
						</li>
					</ul>
					
					
				
			</div>
		</div>

	
	
	
	 
	</body>
	

<!-- Mirrored from www.nicolaegabriel.info/live/admin-pure/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Feb 2016 22:22:20 GMT -->
</html>
	