{% extends "MoocBundle:user:tables.html.twig " %}
{% block affichage %}
    <div class="main_container">

        <div class="row-fluid">
            <div class="widget widget-padding span12">
                <div class="widget-header">
                    <i class="icon-group"></i>
                    <h5>Utilisateur</h5>

                </div>  
                <div class="widget-body">
                    <table  class="table table-striped table-bordered dataTable">
                        <thead>
                            <tr>
                                <th>Nom d'utlisateur</th>
                                <th>Type </th>
                                <th>Etat </th>
                                <th>Action </th>


                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for compte in comptes%}
                                {%if compte.roles[0]=='ROLE_ORGANISME'%}
                                    <tr>
                                        <td>{{compte.username}}</td>
                                        <td>ORGANISME</td>

                                        {% if compte.etat=='valide'%}
                                            <td><span class="label label-success">Valide</span></td> 
                                        {%elseif compte.etat=='non valide'%}
                                            <td><span class="label label-important"> Non Valide</span></td>
                                        {%else %}
                                            <td><span class="label">Valide a terminer</span></td>   
                                        {%endif%}
                                        <td><a href="{{path('supp_compte1',{'id':compte.id})}}}">Supprimer</a></td>
                                        <td><a href="{{path('valider_organismeaction',{'id':compte.id})}}}">Valider</a></td>


                                    </tr>
                                {%endif%}
                            {% endfor %}
                        </tbody>
                    </table>
                </div> <!-- /widget-body -->
            </div> <!-- /widget -->
        </div> <!-- /row-fluid -->
        <div class="row-fluid">
            <form action="{{path('cher')}}" methode="Post">
                <table>
                    <tr>
                        <td> <label>Login</label></td>
                        <td><input type="text" name="login"/></td>
                    </tr>


                    <tr>
                        <td></td>
                        <td><input type="submit" value="chercher"/></td>
                    </tr>
                </table>
            </form>

        </div>

    </div>




{%endblock%}
