{% extends "MoocBundle:user:tables.html.twig " %}
{% block affichage %}
    <div class="main_container">

        <div class="row-fluid">
            <div class="widget widget-padding span12">
                <div class="widget-header">
                    <i class="icon-group"></i>
                    <h5>Utilisateur</h5>

                </div>  
                <div class="widget-body">
                    <table  class="table table-striped table-bordered dataTable">
                        <thead>
                            <tr>
                                <th>Nom d'utlisateur</th>
                                <th>Role</th>
                              
                                <th>adresse</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for compte in comptes%}
                                {% if compte.roles!='ROLE_ADMIN'%}
                                    <tr>
                                        <td>{{compte.username}}</td>
                                        {%if compte.roles=='ROLE_APPRENANT' %}
                                            <td>APPREANT</td>
                                        {% elseif compte.roles[1]=='ROLE_ORGANISME'  %}
                                            <td>ORGANISME</td>
                                        {%endif%}
                                     
                                        {% if compte.etat=='valide'%}
                                            <td><span class="label label-success">Valide</span></td> 
                                        {%elseif compte.etat=='masquer'%}
                                            <td><span class="label label-important"> Banni</span></td>
                                        {%else %}
                                            <td><span class="label">Inactive</span></td>   
                                        {%endif%}

                                        {% if compte.etat=='valide'%}
                                            <td>
                                                <a href=" {{path('affiche_detail_compte',{'id':compte.id})}}"><i class="icon-user"style="margin-right: 10px;" ></i></a>
                                                <a href="{{path('choix_admin_compte',{'choix':2,'id':compte.id})}}"><i class="icon-remove"style="margin-right: 10px;" ></i></a>

                                            </td> 
                                        {%elseif compte.etat=='masquer'%}
                                            <td>
                                                <a href="{{path('choix_admin_compte',{'choix':3,'id':compte.id})}}"><i class="icon-refresh"style="margin-right: 10px;" ></i></a>
                                            </td>
                                        {%else %}
                                            <td>
                                                <a href="{{path('affiche_detail_compte',{'id':compte.id})}}"><i class="icon-user"style="margin-right: 10px;" ></i></a>
                                                <a href="{{path('choix_admin_compte',{'choix':2,'id':compte.id})}}"><i class="icon-remove"style="margin-right: 10px;" ></i></a>
                                                <a href="{{path('choix_admin_compte',{'choix':1,'id':compte.id})}}"><i class="icon-thumbs-up"style="margin-right: 10px;" ></i></a>
                                            </td>
                                             <td><a href="{{path('supp_compte',{'id':compte.id})}}}" target="_blank">supprimer</a></td>
                                        {%endif%}
                                    </tr>
                                {%endif%}
                            {% endfor %}
                        </tbody>
                    </table>
                </div> <!-- /widget-body -->
            </div> <!-- /widget -->
        </div> <!-- /row-fluid -->
        <div class="row-fluid">
            <form action="{{path('cher')}}" methode="Post">
                <table>
                    <tr>
                        <td> <label>Login</label></td>
                        <td><input type="text" name="login"/></td>
                    </tr>

                    
                    <tr>
                        <td></td>
                        <td><input type="submit" value="chercher"/></td>
                    </tr>
                </table>
            </form>

        </div>

    </div>




{%endblock%}
