
{% extends "MoocBundle:user:dashbord.html.twig " %}
{% block affichage %}
    <div class="main_container" id="dashboard_page">
        <div class="row-fluid">

            <div class="widget span8" style="width: 100%">
                <div class="widget-header">
                    <i class="icon-credit-card"></i>
                    <h5>stat</h5>

                </div>
                <div class="widget-body clearfix">
                    <div style="height:450px;" id="graph" class="widget-analytics-large">
                        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
                        <script src="//code.highcharts.com/4.0.1/highcharts.js"></script>
                        <script src="//code.highcharts.com/4.0.1/modules/exporting.js"></script>
                        <script type="text/javascript">
                            {{ chart(chart) }}
                        </script>
                        <div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>


                    </div>
                </div>
            </div>
        </div> 

        <div class="row-fluid">
            <div class="widget span8" style="width: 100%">
                <div class="widget-header">
                    <i class="icon-tasks"></i>
                    <h5>Compte A valider</h5>
                    
                </div>
                <div class="widget-body  container-fluid clearfix" >
                    <div class="widget-tasks-assigned">
                        <ul>
                            {% set i=0 %}
                            {% for  compte in comptes %}
                                {%if i<3 %}
                                    <li class="priority-high-left">

                                        <div class="content">
                                            <h5>{{compte.username}}</h5>
                                            <span>{{compte.nom}}  {{compte.prenom}}</span>
                                        </div>
                                        <ul class="rightboxes">
                                            <li>{{compte.dateInscrit|date("d/m/y")}} <span>{{compte.roles[1]}}</span></li>

                                        </ul>
                                        <div class="info">
                                            <img  src="{{asset(compte.url)}}" class="avatar-20"/>

                                            <div class="date">{{compte.dateInscrit|date("D")}}</div>
                                        </div>

                                        <div class="progress">

                                            <div style="width:100%;" class="bar"></div>
                                        </div>

                                    </li>
                                    {%set i=i+1%}
                                {%endif%}
                            {% else%}
                                <h2>Aucun compte a valider</h2>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="widget-footer">
                    {%if comptes|length >= 3%}
                        <a href="{{path('afficher_compte_admin')}}" class="pull-right btn btn-small"><i class="icon-plus"></i> Load More</a>
                    {% endif %}
                </div>
            </div>  
        </div>



<!--/
        <div class="row-fluid">
            <div class="widget span4">
                <div class="widget-header">
                    <i class="icon-lightbulb"></i>
                    <h5>Notifications</h5>

                </div>  
                <div class="widget-body container-fluid">
                    <div class="widget-tickets clearfix slimscroll">
                        {% set i=0 %}
                        {% for notif in notifications|reverse %}
                            <ul>
                                <li class="priority-high">
                                    <h5>{{notif.note}}</h5>

                                    <div class="date">{{notif.date|date('D d/m/Y')}}</div>
                                    </a>
                                </li>
                            </ul>
                        {% else %}
                            <h3>aucune notification</h3>
                        {% endfor %}
                    </div>
                </div><!--/widget-body
                <div class="widget-footer">
                    {% if notifications|length >=3%}
                        <a href="{{path('affiche_notif_admin')}}" class="pull-right btn btn-small"><i class="icon-plus"></i> Load More</a>
                    {% endif %}
                </div>
            </div> 
                <!-- /widget span5 

            <div class="widget span8" >
                <div class="widget-header">
                    <i class="icon-comment-alt"></i>
                    <h5>Message</h5>
                   
                </div>  
                <div class="widget-body" >
                    <div class="widget-comments clearfix slimscroll">
                        <ul>
                            {% set i=0 %}
                            {% for message in messages|reverse %}
                                {% if i<3 %}
                                    <li>
                                        <img src="{{asset(message.userSource.url)}}" class="avatar"/>
                                        <div class="comment-bubble">
                                            <h4>{{message.userSource.nom|capitalize}} {{message.userSource.prenom|capitalize}} <strong>{{message.userSource.username}}</strong></h4>
                                            {{message.message}}
                                            <div class="date">{{message.date|date('D   d/M/Y')}}</div>

                                        </div>
                                    </li>
                                    {% set i=i+1 %}
                                {%endif%}
                            {% else %}
                                <h2> Aucun message a afficher </h2>

                            {% endfor %}

                        </ul>
                    </div>
                </div>
                <div class="widget-footer">
                    {%if messages|length >=3 %}
                        <a href="{{path('affiche_message_admin')}}" class="pull-right btn btn-small"><i class="icon-plus"></i> Load More</a>
                    {%endif%}
                </div>

            </div> 
        </div>
        
     -->
        
        <!-- /row-fluid -->
        <div class="row-fluid">
            <div class="widget span8" style="width: 100%">
                <div class="widget-header">
                    <i class="icon-tasks"></i>
                    <h5>Offre a valider </h5>
                   
                </div>
                <div class="widget-body  container-fluid clearfix" >
                    <div class="widget-tasks-assigned">
                        <ul>
                            {% set i=0 %}
                            {% for  offre in offres %}
                                {% if i<3 %}
                                    <li class="priority-high-left">

                                        <div class="content">
                                            <h5>Client:{{offre.client.username}}</h5>
                                            <span>{{offre.mode}}  </span>
                                        </div>
                                        <ul class="rightboxes">
                                            <li>{{offre.dateDebut|date('D d/M/y')}}</li>

                                        </ul>
                                        <div class="info">
                                            <img  src="{{asset(offre.client.url)}}" class="avatar-20"/>

                                            <div class="date"></div>
                                        </div>

                                        <div class="progress">

                                            <div style="width:100%;" class="bar"></div>
                                        </div>

                                    </li>
                                    {% set i=i+1 %}
                                {%endif%}
                            {%else%}
                                <h2>Aucune Offre a valider</h2>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="widget-footer">
                    {%if offres|length >=3%}
                        <a href="{{path('affiche_offre_admin')}}" class="pull-right btn btn-small"><i class="icon-plus"></i> Load More</a>
                    {%endif%}
                </div>
            </div>  
        </div>
    </div><!--/.fluid-container-->
</div><!-- wrap ends-->


<!-- example modal -->

{% endblock %}


