{% extends '::base.html.twig' %}


{% block stars %} 



    <center>  

        <div id="comments" class="comments_list_wrap">
            </br>      
            </br>  

            <ul class="comments_list">
                <a><img src="{{ asset('images/badge.png') }}" class="logo_main" alt="">  <img src="{{ asset('images/badge1.png') }}" class="logo_main" alt="">  <img src="{{ asset('images/badge2.png') }}" class="logo_main" alt=""></a>
                <h1>Ajouter Badges</h1> 
            </ul>


            <div class="comments_pagination"></div>
        </div>    

        <div class="page_top_wrap page_top_title page_top_breadcrumbs sc_pt_st1">




            <form action="#" method="post" {{ form_enctype(Form) }} enctype="multipart/form-data" action="/upload/image" method="post"> 
                <h4> Exelent {{ form_widget(Form.file1,{'attr':{'class':'btn btn-primary'} }) }}</h4>
                <h4> Passable {{ form_widget(Form.file2,{'attr':{'class':'btn btn-primary','name':'file1'} }) }}</h4>
                <h4> Faible {{ form_widget(Form.file3,{'attr':{'class':'btn btn-primary'} }) }}</h4>



                {{ form_rest(Form,{'attr':{'class':'btn-primary'} }) }} 
            
            </form>
                <script>
            <br>  
            </script>
             
        </div>
    </center>

{% endblock  %} 
