<!DOCTYPE html>
<html lang="en-US">


    <!-- Mirrored from education-html.themerex.net/contact-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 03 Feb 2016 14:22:25 GMT -->
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}" />
        <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
        <title>Contact Us | Education Center</title>


        <link rel="stylesheet" href="{{ asset('https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&amp;subset=latin%2Clatin-ext&amp;ver=4.3.1') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('http://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,700,700italic&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister:400&amp;subset=latin') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('css/fontello/css/fontello.css') }}" type="text/css" media="all" />

        <link rel="stylesheet" href="{{ asset('js/rs-plugin/settings.css') }}" type="text/css" media="all" />

        <link rel="stylesheet" href="{{ asset('css/woocommerce/woocommerce-layout.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('css/woocommerce/woocommerce-smallscreen.css') }}" type="text/css" media="only screen and (max-width: 768px)" />
        <link rel="stylesheet" href="{{ asset('css/woocommerce/woocommerce.css') }}" type="text/css" media="all" />

        <link rel="stylesheet" href="{{ asset ('css/style.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset ('css/shortcodes.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset ('css/core.animation.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset ('css/tribe-style.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset ('css/skins/skin.css') }}" type="text/css" media="all" />

        <link rel="stylesheet" href="{{ asset ('css/core.portfolio.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset ('js/mediaelement/mediaelementplayer.min.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset ('js/mediaelement/wp-mediaelement.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset ('js/prettyPhoto/css/prettyPhoto.css') }}" type="text/css" media="all" />	
        <link rel="stylesheet" href="{{ asset ('js/core.customizer/front.customizer.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset ('js/core.messages/core.messages.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset ('js/swiper/idangerous.swiper.min.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset ('css/responsive.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset ('css/skins/skin-responsive.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset ('css/slider-style.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset ('css/custom-style.css') }}" type="text/css" media="all" />
        <script src="{{ asset ('http://maps.googleapis.com/maps/api/js?key=AIzaSyCtOJsBC_pCCgqiqE2FQ8bETR8Vm9UAwJs&callback=initMap') }}"></script>
<script>
function initialize() {
var mylating= new google.maps.LatLng(36.899333 ,10.189579)

var mapProp = {

center:mylating,
zoom:5,
mapTypeId:google.maps.MapTypeId.ROADMAP
};
var map=new google.maps.Map(document.getElementById("sc_googlemap_1336029263"),mapProp);

}
google.maps.event.addDomListener(window, 'load', initialize);
</script>

    </head>

    <body onload="initialise" class="page body_style_fullscreen body_filled article_style_boxed top_panel_style_dark top_panel_opacity_solid top_panel_above menu_right sidebar_hide">
        <a id="toc_top" class="sc_anchor" title="To Top" data-description="&lt;i&gt;Back to top&lt;/i&gt; - &lt;br&gt;scroll to top of the page" data-icon="icon-angle-double-up" data-url="" data-separator="yes"></a>
        <!-- Body -->
        <div class="body_wrap">
            <div class="page_wrap">
                <div class="top_panel_fixed_wrap"></div>
                <header class="top_panel_wrap bg_tint_dark">
                    <!-- User menu -->
                    <div class="menu_user_wrap">
                        <div class="content_wrap clearfix">
                            <div class="menu_user_area menu_user_right menu_user_nav_area">
                                <ul id="menu_user" class="menu_user_nav">

                                    <li class="menu_user_login">
                                        <a href="#" class="icon icon-logout">Se deconnecter</a>
                                    </li>
                                    

                                </ul>
                            </div>
                            <div class="menu_user_area menu_user_left menu_user_contact_area">Contacter nous sur 00 216 21432871 ou support@mooc.tn</span><script data-cfhash='f9e31' type="text/javascript">
                            /* <![CDATA[ */!function(){try{var t = "currentScript"in document?document.currentScript:function(){for (var t = document.getElementsByTagName("script"), e = t.length; e--; )if (t[e].getAttribute("data-cfhash"))return t[e]}(); if (t && t.previousSibling){var e, r, n, i, c = t.previousSibling, a = c.getAttribute("data-cfemail"); if (a){for (e = "", r = parseInt(a.substr(0, 2), 16), n = 2; a.length - n; n += 2)i = parseInt(a.substr(n, 2), 16) ^ r, e += String.fromCharCode(i); e = document.createTextNode(e), c.parentNode.replaceChild(e, c)}t.parentNode.removeChild(t); }} catch (u){}}()/* ]]> */</script></a></div>
                        </div>
                    </div>
                    <!-- /User menu -->
                    <!-- Main menu -->
                    <div class="menu_main_wrap logo_left">					
                        <div class="content_wrap clearfix">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="#">
                                    <img src="{{ asset('images/logo_dark.png') }}" class="logo_main" alt="">
                                    <img src="{{ asset('images/logo_dark.png') }}" class="logo_fixed" alt="">
                                </a>
                            </div>
                            <!-- Logo -->
                            <!-- Search -->
                            <div class="search_wrap search_style_regular search_ajax" title="Open/close search form">
                                <a href="#" class="search_icon icon-search-2"></a>
                                <div class="search_form_wrap">
                                    <form method="get" class="search_form" action="#">
                                        <button type="submit" class="search_submit icon-zoom-1" title="Start search"></button>
                                        <input type="text" class="search_field" placeholder="" value="" name="s" title="" />
                                    </form>
                                </div>
                                <div class="search_results widget_area bg_tint_light">
                                    <a class="search_results_close icon-delete-2"></a>
                                    <div class="search_results_content">
                                    </div>
                                </div>
                            </div>
                            <!-- /Search -->
                            <!-- Navigation -->
                            <a href="#" class="menu_main_responsive_button icon-menu-1"></a>
                            <nav class="menu_main_nav_area">
                                <ul id="menu_main" class="menu_main_nav">
                                    <li class="menu-item menu-item-has-children "><a href="#">Accueil</a>


                                    <li class="menu-item menu-item-has-children" ><a href="courses-streampage.html">Formation</a>
                                        <ul>
                                            <li class="menu-item menu-item-has-children"><a href="#">Cours Android</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="free-lesson.html">Free lesson (started)</a></li>
                                                    <li class="menu-item"><a href="free-lesson-coming-soon.html">Free lesson (coming soon)</a></li>
                                                    <li class="menu-item"><a href="lesson-from-paid-course.html">Lesson from paid course</a></li>
                                                </ul>
                                            </li>	
                                            <li class="menu-item menu-item-has-children"><a href="#">Cours IOS</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="free-lesson.html">Free lesson (started)</a></li>
                                                    <li class="menu-item"><a href="free-lesson-coming-soon.html">Free lesson (coming soon)</a></li>
                                                    <li class="menu-item"><a href="lesson-from-paid-course.html">Lesson from paid course</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children"><a href="#">Cours Windows Phone</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item"><a href="free-lesson.html">Free lesson (started)</a></li>
                                                    <li class="menu-item"><a href="free-lesson-coming-soon.html">Free lesson (coming soon)</a></li>
                                                    <li class="menu-item"><a href="lesson-from-paid-course.html">Lesson from paid course</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>


                                    <li class="menu-item menu-item-has-children"><a href="">Formateurs</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="">Organismes</a></li>
                                            <li class="menu-item"><a href="">Formateurs</a></li>
                                        </ul>
                                    </li>
                                    </li>
                                    <li class="menu-item menu-item-has-children "><a href="#">A propos</a>

                                    </li>
                                    <li class="menu-item menu-item-has-children current-menu-ancestor current-menu-parent"><a href="{{ path('quiz_list', { 'id': 2 })  }}"> Gestion des quizs</a>

                                    </li>


                                </ul>
                            </nav>
                            <!-- /Navigation -->
                        </div>
                    </div>
                    <!-- /Main menu -->
                </header>
                                
                                {% block body %}
                                {% endblock %}
                            
                <!-- /Content without sidebar -->
                <!-- Google map -->

                <!-- Contacts Footer  -->
                <footer class="contacts_wrap bg_tint_dark contacts_style_dark">
                    <div class="content_wrap">
                        <div class="logo">
                            <a href="#">
                                <img src="{{ asset('images/logo_footer.png') }}" alt="">
                            </a>
                        </div>
                        <div class="contacts_address">
                            <address class="address_right">
                                Phone: 1.800.123.4567<br>
                                Fax: 1.800.123.4566
                            </address>
                            <address class="address_left">
                                San Francisco, CA 94102, US<br>	
                                1234 Some St
                            </address>
                        </div>
                        <div class="sc_socials sc_socials_size_big">
                            <div class="sc_socials_item">
                                <a href="#" target="_blank" class="social_icons social_facebook">
                                    <span class="sc_socials_hover social_facebook"></span>
                                </a>
                            </div>
                            <div class="sc_socials_item">
                                <a href="#" target="_blank" class="social_icons social_pinterest">
                                    <span class="sc_socials_hover social_pinterest"></span>
                                </a>
                            </div>
                            <div class="sc_socials_item">
                                <a href="#" target="_blank" class="social_icons social_twitter">
                                    <span class="sc_socials_hover social_twitter"></span>
                                </a>
                            </div>
                            <div class="sc_socials_item">
                                <a href="#" target="_blank" class="social_icons social_gplus">
                                    <span class="sc_socials_hover social_gplus"></span>
                                </a>
                            </div>
                            <div class="sc_socials_item">
                                <a href="#" target="_blank" class="social_icons social_rss">
                                    <span class="sc_socials_hover social_rss"></span>
                                </a>
                            </div>
                            <div class="sc_socials_item">
                                <a href="#" target="_blank" class="social_icons social_dribbble">
                                    <span class="sc_socials_hover social_dribbble"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- /Contacts Footer  -->
                <!-- Copyright -->
                <div class="copyright_wrap">
                    <div class="content_wrap">
                        <p>© 2015 All Rights Reserved. <a href="#">Terms of use</a> and <a href="#">Privacy Policy</a></p>
                    </div>
                </div>
                <!-- /Copyright -->
            </div>
        </div>
        <!-- /Body -->
        <a href="#" class="scroll_to_top icon-up-2" title="Scroll to top"></a>

        <div class="custom_html_section"></div>

        <script type="text/javascript" src="{{ asset('js/jquery/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery/jquery-migrate.min.js') }}"></script>	
        <script type="text/javascript" src="{{ asset('js/jquery/ui/core.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery/ui/widget.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery/ui/tabs.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery/ui/accordion.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery/ui/effect.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery/ui/effect-fade.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery/jquery.blockUI.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery/jquery.cookie.min.js') }}"></script>

        <script type="text/javascript" src="{{ asset('js/global.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/core.utils.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/core.init.min.js') }}"></script>	
        <script type="text/javascript" src="{{ asset('js/shortcodes/shortcodes.min.js') }}"></script>	

        <script type="text/javascript" src="{{ asset('js/rs-plugin/jquery.themepunch.tools.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/rs-plugin/jquery.themepunch.revolution.min.js') }}"></script> 
        <script type="text/javascript" src="{{ asset('js/slider_init.js') }}"></script>

        <script type="text/javascript" src="{{ asset('js/superfish.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.slidemenu.min.js') }}"></script>

        <script type="text/javascript" src="{{ asset('js/mediaelement/mediaelement-and-player.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/mediaelement/wp-mediaelement.min.js') }}"></script>

        <script type="text/javascript" src="{{ asset('js/core.messages/core.messages.min.js') }}"></script>

        <script type="text/javascript" src="{{ asset('js/jquery.isotope.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/hover/jquery.hoverdir.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/prettyPhoto/jquery.prettyPhoto.min.js') }}"></script>		
        <script type="text/javascript" src="{{ asset('js/swiper/idangerous.swiper-2.7.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/swiper/idangerous.swiper.scrollbar-2.4.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/diagram/chart.min.js') }}"></script>

        <script type="text/javascript" src="{{ asset('js/core.customizer/front.customizer.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/skin.customizer.min.js') }}"></script>
    </body>


    <!-- Mirrored from education-html.themerex.net/contact-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 03 Feb 2016 14:22:25 GMT -->
</html>