{% extends '::base.html.twig' %}


{% block stars %} 
    <center>
        
        
        
        
        <img alt="Medical Chemistry: The Molecular Basis" src="{{ asset('images/android.jpg')}}"height="100" width="10">
        
        
        
        
        
        
        
        {{form(form2)  }} 


        <form name="stars" type="submit" method="POST">    
           
            <input type="hidden" name="text" value=""/>



            <input type="submit" value="Voter" class="btn btn-success" onclick="show();" /></p>
        </form>
    </center>    
    
   {% endblock  %} 



{% block hn %}


    
    
<h2 class="section_title comments_list_title"> Comments</h2>
        {% for i in commentaires %}

      
          
    <div id="comments" class="comments_list_wrap">
         </br>      

                                
                                <ul class="comments_list">
                                    <li id="comment-1" class="comment even thread-even depth-1 comment_item">
                                        <div class="comment_author_avatar">
											<img alt="" src="{{ asset('images/face.png') }}"   class="avatar avatar-75 photo" height="75" width="75">
										</div>
                                        <div class="comment_content">
                                            <div class="comment_info">
                                                <span class="comment_author">{{i.personne.nom}}</span>
                                                <span class="comment_date">
													<span class="comment_date_label">Posted</span> 
													<span class="comment_date_value">{{i.date|date("m/d/Y")}}</span>
												</span>
                                                
                                            </div>
                                            <div class="comment_text_wrap">
                                                <div class="comment_text">
                                                    <p>{{i.contenu}}</p>
                                                </div>
                                            </div>
                                            <div class="comment_delete"><a rel="nofollow" class="comment-delete-link" href="{{path("modifier",{'id':i.id})}}"> <img alt="" src="{{ asset('images/edit2.png') }}"    height="10" width="10">  Modifier</a></div> <div class="comment_delete"><a rel="nofollow" class="comment-reply-link" href="{{path("supprimer",{'id':i.id})}}"><img alt="" src="{{ asset('images/del.png') }}"    height="10" width="10">  Supprimer</a></div>
                                        
                                        </div>
                                    </li>
                                </ul>
                                             </br>      
                                  </br>  
                                <div class="comments_pagination"></div>
                            </div>          
          

            {% endfor %}
                   
      
        <br>
        <br>
        <br/>
       
          
        
     
       
    
        
        
        <center> 
        <div class="comments_form_wrap">
                                <h2 class="section_title comments_form_title">Add Comment</h2>
                                <div class="comments_form">
                                    <div id="respond" class="comment-respond">
                                        <form method="POST" action="" class="comment-form">
                                            <div class="comments_notes">{{form_widget(f.Personne)}}</div>
                                            
                                            <div class="comments_field comments_message">
                                                <label for="comment" class="required" placeholder="Comment">{{form_widget(f.contenu,{'attr':{'cols':'45','rows':'5'} })}}</label>
                                               
                                            </div>
                                            
                                               {{form_rest(f)}} 
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
        
        </center>
        
        
        
        
        
            

            {%endblock%}      