{% extends 'MOOCcommentaireBundle::index.html.twig' %}
  


    {% block body %}
    

        <center>
                {{form(form)  }}

    <form name="firas" method="POST">    
    <strong>voter</strong></p>
    <input type="hidden" name="text" value=""/>
    <input type="text" name="ville" value=""/>


<input type="submit" value="Valider" class="btn btn-success" onclick="show();" /></p>
    </form>
        </center>
    {% endblock %}