{# empty Twig template #}
{% extends "MoocBundle::layout.html.twig" %}
{% block formulaire %}
{% block fos_user_content %}
<form action="{{path('register_step3org')}}" methode="POST">
    <table>
        <tr>
            <td> <label>Certificat :</label></td>
            <td><input type="text" name="certificat"/></td>
        </tr>
       
        <tr>
            <td> <label>Site URL :</label></td>
            <td><input type="text" name="site"/></td>
        </tr>
        <tr>
            <td> <label>Numero TEL :</label></td>
            <td><input type="text" name="num"/></td>
        </tr>
        


        <tr>
            <td>    <input type="hidden" name="login" value=""/>
</td>
            <td><input type="submit" value="Valider"/></td>
        </tr>
    </table>
</form>
{% endblock fos_user_content %}
{% endblock formulaire %}
