{# empty Twig template #}
{% extends "MoocBundle::layout.html.twig" %}
{% block formulaire %}
{% block fos_user_content %}
<h1> {{email}} </H1>
<form action="{{path('registerstep2')}}" methode="POST">
    <table>
        <tr>
            <td> <label>Nom :</label></td>
            <td><input type="text" name="nom"/></td>
        </tr>
        <tr>
            <td> <label>Prenom :</label></td>
            <td><input type="text" name="prenom"/></td>
        </tr>
        <tr>
            <td> <label>Adresse :</label></td>
            <td><input type="text" name="adresse"/></td>
        </tr>
        
        


        <tr>
            <td>    <input type="hidden" name="login" value="{{email}}"/>
</td>
            <td><input type="submit" value="Valider"/></td>
        </tr>
    </table>
</form>
{% endblock fos_user_content %}
{% endblock formulaire %}